<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/style_slike.css">
  <title>Galerija</title> 
</head>


<body>
<nav id="navigacija" aria-labelledby="primarna-navigacija">
    <h2 id="primarna-navigacija" class="visually-hidden">Primarna navigacija</h2>
    <ul class="nav-menu">
        <li><a href="../index.html">PoÄetna</a></li>
        <li><a href="#">Galerija</a></li>
        <li><a href="../grafikon.html">Grafikon</a></li>
    </ul>
</nav>

<header>
  <h1>Galerija slika</h1>
</header>
<section class="galerija">
<% images.forEach(image => { %>
<figure class="galerija_slika">
  <a href="<%= image.url %>" target="_blank">
    <img src="<%= image.url %>" alt="<%= image.title %>" aria-label="<%= image.title %>">
  </a>
  <figcaption><%= image.title %></figcaption>
</figure>
<% }); %>
</section>


</body>
</html>
